@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Changa One", cursive;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a,
li {
  color: white;
}
